.statistics  {
    font-family: 'Arial', 'sans-serif';
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 330px;
    margin: 0 auto;
    border:2px solid rgb(232, 236, 242);;
    
}
.statList {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    
    
}
.item {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid rgb(232, 236, 242);
    height: 50px;
    width: 72px;
    padding-top: 5px; 
    }

.label{
font-size: 14px;


}
.percentage {

font-size: 14px;
padding-top: 10px;
}
